html {
  width: 100%;
}

body {
  margin: 0;
  background-color: #303030;
  color: #a9a9a9;
}

div h3 {
  margin: 0;
  padding: 0;
}

h3:not([class="list-title"]) {
  font-size: 16px;
}

p {
  margin: 0 0;
}

input,
textarea,
fieldset {
  border: none;
  font-size: 20px;
  color: #e6e6e6;
  field-sizing: content;
  resize: none;
  font-family: "Inter", "Roboto", sans-serif;
  background-color: #1f1f1f;
  padding: 2px;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid #45f3ff;
}

.container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  margin-bottom: 1rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#left-panel {
  flex: 1.4;
}

#right-panel {
  flex: 1;
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}

#recipe-cover {
  width: 100%;
  height: 100%;
}

#recipe-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#recipe-img-upload {
  display: none;
}

.editor-card,
.title-card {
  width: 100%;
  margin-bottom: 10px;
}

.editor-card {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  transition: transform 0.4s, box-shadow 0.4s;
}

#left-panel .editor-card:hover {
  transform: scale(1.03);
  box-shadow: -2px 4px 3px rgb(98, 184, 98);
}

#ingredient-list .editor-card:hover {
  transform: scale(1.03);
  box-shadow: -2px 4px 3px orange;
}

#instruction-list .editor-card:hover {
  transform: scale(1.03);
  box-shadow: -2px 4px 3px rgb(93, 196, 161);
}

#left-panel .editor-card {
  width: 100%;
}

.card-padding {
  width: 7px;
  background-color: rgb(98, 184, 98);
}

#left-list {
  flex: 1.4;
}

.middle-empty-space {
  width: 2%;
}

#right-list {
  flex: 1;
}

#recipe-ingredients .editor-card .card-padding {
  background-color: rgb(221, 144, 1);
}

#recipe-instructions .editor-card .card-padding {
  background-color: rgb(93, 196, 161);
}

.card-content {
  flex: 1;
  background-color: #1f1f1f;
  padding: 8px 15px 8px 15px;
}

.list-title {
  color: white;
}

.title-card-padding {
  padding: 8px 15px 8px 15px;
}

#tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.recipe-tag {
  position: relative;
}

.tag-input {
  position: relative;
  height: 30px;
  background-color: #3f3f3f;
  color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2px 8px;
  text-align: center;
}

.delete-tag-btn::before {
  content: "×";
}

.delete-tag-btn {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 18px;
  height: 18px;
  background-color: #575757;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-tag-btn:hover {
  transform: scale(1.1);
  background-color: #9c2121;
  color: #ffffff;
}

#time-flex {
  display: flex;
  gap: 10px;
}

#recipe-cook-time,
#recipe-prep-time,
#recipe-servings {
  flex: 1;
}

#ingredient-title-btn {
  background-color: orange;
  box-sizing: border-box;
}

#instruction-title-btn {
  background-color: rgb(108, 219, 182);
  box-sizing: border-box;
}

.adding-btn::before {
  content: "+";
}

.adding-btn {
  font-size: 30px;
  transition: transform 0.3s ease;
  line-height: 1;
}

.adding-btn-light {
  color: #fff;
}

.adding-btn-dark {
  color: #8b8b8b;
}

.adding-btn:hover {
  transform: scale(1.2);
}

.delete-btn {
  color: #7c7b7b;
  font-size: 20px;
  transition: transform 0.3s ease;
  line-height: 1;
}

.delete-btn:hover {
  transform: scale(1.2);
  color: #dad8d8;
}

.delete-btn::before {
  content: "×";
}

#display-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 8px;
  border: none;
  padding: 0;
  margin: 0;
}

#display-rating input {
  display: none;
}

#display-rating label {
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
  transition: color 0.2s ease;
}

#display-rating label:hover,
#display-rating label:hover ~ label {
  color: #ffd700;
}

#display-rating input[type="radio"]:checked ~ label {
  color: #ffd700;
}

#display-rating input[type="radio"]:checked + label {
  color: #ffd700;
}

.ingredient-name-input {
  min-width: 150px;
}

#save-btn {
  font-family: inherit;
  font-size: 20px;
  background: #1f1f1f;
  color: white;
  fill: rgb(155, 153, 153);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-weight: 1000;
}

#bottom-btn {
  display: flex;
  justify-content: end;
}

#save-btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

#save-btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

#save-btn:hover {
  background: #000;
}

#save-btn:hover .svg-wrapper {
  transform: scale(1.25);
  transition: 0.5s linear;
}

#save-btn:hover svg {
  transform: translateX(1.2em) scale(1.1);
  fill: #fff;
}

#save-btn:hover span {
  opacity: 0;
  transition: 0.5s linear;
}

#save-btn:active {
  transform: scale(0.95);
}
